In [3]:
import pandas as pd

## To know how many new samples there are in december 2025

In [4]:
df = pd.read_csv("dataset.csv", sep=";")
df.head(5)

,filename,year,month,day,hour,minute,lng,lat,alt,camera,width,height,frames,fps,time,mean_brightness,class,bmin,bmax
0,M20251004_190700_MasLaRoca_NE,2025,10,4,19.0,7.0,2.19,41.56,570.0,NE,720.0,576.0,62.0,25.0,0.04,70.666667,unknown,54.0,79.0
1,M20251004_225201_MasLaRoca_NE,2025,10,4,22.0,52.0,2.19,41.56,570.0,NE,720.0,576.0,120.0,25.0,2.40,53.413793,unknown,44.0,63.0
2,M20251005_053814_MasLaRoca_NE,2025,10,5,5.0,38.0,2.19,41.56,570.0,NE,720.0,576.0,62.0,25.0,0.08,40.458333,unknown,39.0,46.0
3,M20251005_194436_MasLaRoca_NE,2025,10,5,19.0,44.0,2.19,41.56,570.0,NE,720.0,576.0,62.0,25.0,0.04,38.500000,unknown,35.0,42.0
4,M20251005_195119_MasLaRoca_NE,2025,10,5,19.0,51.0,2.19,41.56,570.0,NE,720.0,576.0,65.0,25.0,0.16,99.375000,unknown,50.0,112.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36164 entries, 0 to 36163
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   filename         36164 non-null  object
 1   year             36164 non-null  int64
 2   month            36164 non-null  int64
 3   day              36164 non-null  int64
 4   hour             36164 non-null  float64
 5   minute           36164 non-null  float64
 6   lng              36164 non-null  float64
 7   lat              36164 non-null  float64
 8   alt              36164 non-null  float64
 9   camera           36164 non-null  object
 10  width            36164 non-null  float64
 11  height           36164 non-null  float64
 12  frames           36164 non-null  float64
 13  fps              36164 non-null  float64
 14  time             36164 non-null  float64
 15  mean_brightness  36164 non-null  float64
 16  class            36164 non-null  object
 17  bmin             36164 non-null  float64
 18  bmax             36164 non-null  float64
dtypes: float64(13), int64(3), object(3)
memory usage: 5.2+ MB

In [10]:
df_temp = df[df["year"] == 2025]
df_temp = df_temp[df_temp["month"] == 12]
df_temp = df_temp[df_temp["day"] > 6]
df_temp.shape

(6262, 19)

## To get results from SSL training

In [23]:
epoch36_max_acc = float(df["accuracy"].iloc[:36].max())
epoch36_time = float(df["time"].iloc[:36].sum())
print("Max accuracy at epoch 36:", epoch36_max_acc)
print("Training time until epoch 36:", epoch36_time/3600)

Max accuracy at epoch 36: 0.7699514806759243
Training time until epoch 36: 1.6540797368685405

In [24]:
max_acc = float(df["accuracy"].max())
time = float(df["time"].sum())
stop_epoch = df["epoch"].iloc[-1]
print("Max accuracy:", max_acc)
print("Training time:", time/3600)
print("Stop-epoch:", stop_epoch)

Max accuracy: 0.7699514806759243
Training time: 2.3513675556580225
Stop-epoch: 51